
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <form #urlForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label for="url" class="form-label">URL:</label>
                        <input class="form-control" id="url" required
                            [(ngModel)]="model.url" 
                            name="url" 
                            #url="ngModel" 
                            (keypress)="onChangeEvent($event)"
                            (change)="onChangeEvent($event)"
                        />
                    </div>
                    <div [hidden]="url.valid || url.pristine" class="alert alert-danger"> 
                        URL is required
                    </div>  
                    
                    <div *ngIf="message"  class="alert alert-light" role="alert">
                        {{ message }}
                    </div>
        
                    <div class="col-12">
                        <button type="submit" class="btn btn-light" [disabled]="!urlForm.form.valid">Create</button>
                        <button type="reset" class="btn btn-danger" [disabled]="!urlForm.form.valid">Cancel</button>
                    </div>
                    
                </form>
            </div>
        </div>
        
    </div>
</div> 